body{
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* Navigation Bar*/

.nav-item{
    padding:5px 20px;
    margin-left:10px;
}
.nav-link{
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Merriweather', serif;
}

/* Welcome Section */

#welcome-section{
    background-color: #000;
    height:100vh;
    color:#fff;
    padding-top: 250px;
}
#welcome-heading{
    font-size: 4rem;
}
#welcome-para{
    color:rgb(151, 87, 87);
    font-size:2rem;
}

/* Projects Section */

#project{
    margin-top:0;
    background-color:#3C415C;
    
}

#project-heading{
    color:#fff;
    margin-bottom: 50px;
    font-size: 2.5rem;
    text-decoration: underline;
    padding: 35px;

}

.project-title{
    margin-bottom:25px;
}

.project-image{
    width: 370px;
    height: 350px;
       
}
.project-link{
    display:block;
    background-color: #303841;
    max-width:370px;
    margin:0 auto;
    padding:15px;
    text-decoration: none;
    color:#fff;
    font-size:1.3rem;
    
}
.project-link:hover{
    color:#FFD369;
    cursor: pointer;

}

/* Show all Button */
.show-btn{
    background-color: #303841;
    color:#fff;
    padding:10px 20px;
    border-radius: 4px;
    margin:4% 1%;
    border:none;
    font-family: 'Merriweather',sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
.show-btn:hover{
    background-color: #dc3545;
   
}

/* Footer Section */

#footer{
    background-color: #303841;
    color:#fff;
    letter-spacing: 1px;
}

.footer-div{
    padding-top:80px;
    padding-bottom: 30px;
}

#footer-heading{
   
    font-size: 3rem;
}
.links{
    text-decoration: none;
    font-family: 'Merriweather',sans-serif;
    font-size:18px;
    color:#fff;
    padding:2.8rem;
}
.links:hover{
    color:rgb(133, 128, 128);
}

.icons{
    margin-bottom:80px;
}

hr{
    border: 3px solid #f5021b;
}

.bottom-text{
    padding:25px;
}
span{
    margin-left:45px;
}

@media screen and (max-width:768px){
    .links{
        display: block;
    }
}
@media screen and (max-width:768px){
    span{
        display: block;
    }
}